@mixin absolute{
  position: absolute;
}

@mixin center{
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translateX(-50%) translateY(-50%);
}
  
@mixin trans($s){
  transition: $s;
}
  
@mixin size($w,$h){
  width: $w;
  height: $h;
}

@mixin fillSize{
  width: 100%;
  height: 100%;
}
  
@mixin textStyle($size, $spacing, $color){
  font-size: $size;
  letter-spacing: $spacing;
  color: $color !important;
}

@mixin inner_title(){
  font-size: 24px;
  font-family: 'HelveticaNeue-Bold';
  padding: 30px 0 0 40px;
}